<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
  <title>BikeShop - Shop</title>
  <script src="https://kit.fontawesome.com/9dd814fed4.js" crossorigin="anonymous"></script>

</head>

<body>

  <!-- header -->
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar" href="index.html">
      <img src="/images/bike-logo.svg" width="50" height="50" class="logo" alt="">
      The Bike Shop Experience
    </a>
    
</nav>
<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb"  class=" bg-dark">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/">SHOP</a></li>
    <li class="breadcrumb-item active" aria-current="page">BASKET</li>
  </ol>
</nav>

<%
if(dataCardBike.length < 1){
%>
 <h5 class="no-article">Votre panier est vide</h5>
<%
} else {
%>
  <h1>Basket</h1>
  <table class="table bg-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Picture</th>
        <th scope="col">Model</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <%
      var total = 0
       for (i=0; i<dataCardBike.length; i++)
        {
      %>
      <tr>
        
        <th scope="row"><%= i+1 %></th>
        <td><img src="<%= dataCardBike[i].image %>" style="width:12rem" alt=""></td>
        <td><%= dataCardBike[i].name %></td>
        <td>
          <form action="/update-shop" method="post">
              <input type="number" name="quantity" value="<%= dataCardBike[i].quantity %>" class="m-2" min="1"> 
              <button class="btn btn-outline-info btn-sm" name="button"><i class="fas fa-sync-alt"></i></button>
              <input type="hidden" name="index" value="<%= i %>">
          </form>
        </td>
        <td><%= dataCardBike[i].prix %> €</td>
        <td><%= dataCardBike[i].prix * dataCardBike[i].quantity%> €</td>
        <td><a type="button" href="/delete?index=<%= i %>&name=<%= dataCardBike[i].name%>&prix=<%= dataCardBike[i].prix%>&quantity=<%= dataCardBike[i].quantity%>" class="btn btn-outline-info"><i class="fa-solid fa-trash "></i></a></td>
      </tr>
      <% 
      }
      %>
      
    </tbody>
    <tfoot>
      <tr style="border:none">
        <td colspan="4"></td>
        <td >TOTAL</td>
        <td colspan="2"><%= totalCmd %> €
        </td>
      </tr>

      <tr style="border:none">
        <td colspan="6" style="border:none"></td>
        <td style="border:none"><button type="button" class="btn btn-outline-info mt-5" >CHECKOUT</button></td>
      </tr>
    </tfoot>
    <%
}
%>
  </table>





  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>